.para{
    font-family: Verdana;
    margin-left: 30px;
}
.vehicle-inputs {
    margin-top: 20px;
    margin-left: 200px;
    width: 70%;
    font-family: Verdana;

  }

  .vehicle-inputs input {
   
    padding: 10px;
    margin-bottom: 10px;
    font-family: Verdana;

    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
  }
  .container {
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Align items vertically */
  }
  
  .image-container {
    width: 400px;
    height: 400px;
    background-color: lightgray;
    margin-bottom: 20px;
    margin-left: 150px;
  }
  
  .form-containerx {
    width: 500px; 
    margin-right: 90px;
    margin-top: 10px;
    margin-left: 200px;
    margin-bottom: 500px;
    width: 70%;
    font-family: Verdana;
/* Adjust the width as needed */
  }
  .form-containerx input {
   
    padding: 10px;
    margin-bottom: 10px;
    font-family: Verdana;

    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
  }
  .button{
    background-color:#00ff51;
    color: #011f12;
  }
  .vapp h1 {
    text-align: left;
    margin-left: 20px;
  }
  .vapp p {
    text-align: left;
    margin-left: 20px;
  }

  .para h1 {
    text-align: left;
    margin-left: 10px;
  }
  .para p {
    text-align: left;
    margin-left: 10px;
  }